<footer>
  <div class="footer-icons">
    <a href="https://www.facebook.com/gunsnroses" target="_blank">
      <img src="/assets/images/facebook.svg" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/gunsnroses/" target="_blank">
      <img src="/assets/images/instagram.svg" alt="Instagram">
    </a>
    <a href="https://twitter.com/gunsnroses" target="_blank">
      <img src="/assets/images/twitter.svg" alt="Twitter">
    </a>
    <a href="http://www.youtube.com/user/GunsNRosesVEVO" target="_blank">
      <img src="/assets/images/youtube.svg" alt="YouTube">
    </a>
    <a href="https://soundcloud.com/guns-n-roses-official" target="_blank">
      <img src="/assets/images/soundcloud.svg" alt="Soundcloud">
    </a>
  </div>
  <div class="footer-text">
    <p>
      This website is a school-project created by <a href="https://www.github.com/awkes" target="_blank">Andreas Åkerlöf</a> and <a href="https://www.github.com/lidmyr93" target="_blank">Magnus Lidmyr</a> in the course JavaScript 3 at Nackademin Yrkeshögskola.
      We can only take credit for the code and the design. 
      The news and tour dates are taken from the official <a href="https://www.gunsnroses.com" target="_blank">Guns N'Roses</a> website.
      All the other stuff is stolen from the internet and most of it probably belong to Guns N' Roses.
    </p>
  </div>
</footer>