
.index-anim{
  width: 100%;
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-anim-song{
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 3px;

}
.index-anim-album{
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 3px;
}
.empty-fill {
  height: 80vh;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}

.content {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 40vw;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  row-gap: 5px;
  border-radius: 10px;
}
button{
    color: #f00;
    border: none;
    font-size: 2em;
    background-color: transparent;
    grid-row: 1;
    opacity: 0.7;
}
button:hover{
  opacity: 1;
}
.volume-container {
  grid-row: 2;
  grid-column: 1 / span 2;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.volume-control {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #f00;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;  
}
.volume-container:hover {
  .sound-sign, .volume-control{
    opacity: 1;
  }

}
.volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff0;
  cursor: pointer;
  border-radius: 50%;
}

.volume-control::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  cursor: pointer;
}
.sound-sign{
  color: #ff0;
  font-size: 1em;
  opacity: 0.7;
}
@media (min-width: 768px){
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
  }

  button{
    margin: 5px;
    width: 2em;
  }
  .volume-container{
    margin: 5px;
    width: 100%;
  }
  .index-anim-song{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 3px;
  
  }
  .index-anim-album{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 3px;
  }
}