@font-face {
  font-family: Opticorvinus;
  src: url("../fonts/OPTICorvinus-Skyline.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

* { box-sizing: border-box; }
body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}
.container { 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}
main { 
  padding: 1em; 
  flex-grow: 1;
}
h1,h2,h3 { 
  font-family: Opticorvinus; 
  font-weight: normal;
  margin: 0;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

hr {
  border: 0;
  border-bottom: 1px solid #f00;
}
a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #ff0;
}

// Header + menu
header { 
  padding: 1em 0; 
}
.header-image {
  height: 75vh;
  background-size: cover;
  background-position: top center;
  border-bottom: 1px solid rgba(71, 71, 71, 0.75);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 0 1em;
  border-top: 1px solid rgba(71, 71, 71, 0.75);
  border-bottom: 1px solid rgba(71, 71, 71, 0.75);
  background-color: rgba(0,0,0,0.75);
}
.header-text {
  margin: 0;
  padding: 0;
}
.burger { 
  display: flex;
  flex-direction: column;
  width: 2.5em;
  height: 2.5em;
  justify-content: space-around;
  cursor: pointer;
}
.burger-line { 
  background-color: #fff;
  width: 2.4em;
  height: 0.3em;
  border-radius: 10px;
  transform-origin: 0% 50%;
  transition: ease-in-out 0.2s;
}
.burger-open {
  .burger-line:first-child { transform: rotate(45deg); }
  .burger-line:nth-child(2) { opacity: 0; }
  .burger-line:last-child { transform: rotate(-45deg); }
}
.navigation {
  position: absolute;
  left: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin: 0.75em 0 0 0;
  padding: 0 0 0.4em 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(71, 71, 71, 0.75);
  background-color: rgba(0,0,0,0.75);
  a { 
    display: block; 
    padding: 1em;
    background-color: rgba(55, 55, 55, 0.75);
    margin: 0;
  }
  transform: scale(1,0);
  transform-origin: 50% 0%;
  transition: ease-in-out 0.2s;
}
.show-navigation { 
  display: block;
  transform: scale(1,1);
}
.current-link { 
  text-decoration: underline;
  text-decoration-color: #f00;
}
.header-logo { display: none; }

// Animera header-element
.header-text,#nav { transition: ease-in-out 0.3s; }
.header-text-hidden { transform: translateX(100%); }
.nav-hidden { transform: translateX(-130%); }

// Footer
footer {
  padding: 1em 1em 1em 1em;
  border-top: 1px solid rgba(71, 71, 71, 0.75);
  background-color: rgba(0,0,0,0.75);
}
.footer-icons {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 1em;
  img { 
    width: 1.5em; 
    filter: drop-shadow(0 5px 1px #f00);
    transition: ease-in-out 0.2s;
  }
  img:hover { 
    filter: none; 
    transform: translateY(3px);
  }
}
.footer-text {
  text-align: center;
  margin-top: 2em;
  font-size: 0.6em;
}

@media(min-width: 768px) {
  .burger { display: none; }
  .header-text { order: 1; }
  .header-top nav { 
    order: 3; 
    text-align: right;
  }
  .navigation { 
    display: initial;
    position: static;
    width: auto;
    padding: 0;
    background-color: initial;
    border: 0;
    li { display: inline-block; }
    a { background-color: initial; }
  }
  // Animations header
  .header-text-hidden { transform: translateX(-100%); }
  .nav-hidden { transform: translateX(100%); }

  // Footer
  footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
  }
  .footer-icons,.footer-text { width: 50%; }
  .footer-icons { 
    order: 2;
    justify-content: right; 
    align-items: start;
  }
  .footer-icons img { width: 2em; }
  .footer-text { 
    margin: 0;
    text-align: left; 
    p { margin: 0; }
  }
}

@media(min-width: 1060px) {
  header { padding-top: 3em; }
  .header-text,.header-top nav { width: 40%; }
  .header-logo { 
    display: block; 
    order: 2;
    width: 20%;
    text-align: center;
    width: 8em;
    margin: -3em;
  }
}